*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

header{
  width:100%;
  height: 30px;
  background-color: #CCCCCC;
  margin-bottom:5px;
}
header p{
  font-size:10px;
  padding:10px 10px;
}
main{
  width:100%;
  height:2400px;
}
.copy{
  height:400px;
  width:90%;
  margin:0 auto;
  background-image:url("d297bd06a568cd76bcbf.jpg") ;
  background-size: cover;
}
.copy h1{
  text-align: center;
  font-size:50px;
  padding-top:150px;
}
.member{
  height:600px;
  width:90%;
  margin:5px auto;
  text-align: center;
}
.member-contents1{
  height:200px;
  width:98%;
  margin:0 auto;
  display: flex;
}
.member-contents2{
  height:200px;
  width:98%;
  margin:0 auto;
  display: flex;
}
.member-contents3{
  height:200px;
  width:98%;
  margin:0 auto;
  display: flex;
}
.member1,.member2,.member3,.member4{
  width:25%;
  height:200px;
  margin:0 2px;
  border:1px solid white;
}
.member1 img,.member2 img,.member3 img,.member4 img{
  display:block;
  margin:0 auto;
}
.music{
  height:1400px;
  width:90%;
  margin:5px auto;
}
.music-contents0{
  position:relative;
  width:80%;
  height: 340px;
  margin:5px auto;
}
.music-contents0 iframe{
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height: 340px;
}
.music-contents1{
  position:relative;
  width:80%;
  height: 340px;
  margin:5px auto;
}
.music-contents1 iframe{
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height: 340px;
}
.music-contents2{
  position:relative;
  width:80%;
  height: 340px;
  margin:5px auto;
}
.music-contents2 iframe{
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height: 340px;
}
.music-contents3{
  position:relative;
  width:80%;
  height: 340px;
  margin:5px auto;
}
.music-contents3 iframe{
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height: 340px;
}
footer{
  width:100%;
  height: 30px;
  background-color: #CCCCCC;
}

@media(max-width:670px){
  main{
    height:3600px;
  }
  .member{
    height:1800px;
  }
  .member-contents1{
    display:block;
    height:800px;
  }
  .member-contents2{
    display:block;
    height:600px;
  }
  .member-contents3{
    display:block;
    height:400px;
  }
  .member1,.member2,.member3,.member4{
    width:100%;
  }


  }
